*,
*::before,
*::after {
  margin: 0;
  padding: 0; }

  body{
    background-color: #ffe400;
  }

  // Variables

  $description: "Aprenda nuevas formas de crear aplicaciones de Android usando Android Studio. Síganos en YouTube y presione el ícono de la campana para recibir notificaciones sobre cada nueva lección cargada relacionada con el desarrollo de Android todos los días.";

