.start_nav{
    //contenedor del 
    position: fixed;
    display: flex;
    background-color: #ffe400;
    z-index: 1;
    left: 0;
    right: 0;
    box-sizing: border-box;
    top: 0;
    height: 65px;

}
.nav{
    display: flex;
    align-items: center;
    background-color: #ffe400;
    justify-content: space-between;
    margin: auto;  
    width: 80%;
    max-width: 1080px;
    //border: dotted 3px blue;

     /* posicionar siempre el menu */
     position: fixed;
     left: 0;
     right: 0;
     box-sizing: border-box;
     z-index: 1;
     top: 0;

    &__menulogo{
        display: flex;
        width: 100px;
        &--img{
            display: block;
            box-sizing: border-box;
            width: 65%;
            background-color: white;
            border-radius: 0px 0px 50px 50px;
    }
    }
    &__menuBox{
        display: flex;
        align-items: center;

        &__menu{
            display: flex;
            list-style: none;
            
            &__item{
                &--link{
                    font-weight: 800;
                    color: #5f5d4b;
                    text-decoration: none;
                    padding: 8px 15px;
                    font-size: 12px;
                    background: transparent;
                    font-family: 'Raleway';
                    &:hover{color: #e96359;}
                }
            }
        }
        &--iconos{
            padding: 8px 15px;
            align-items: center;
            color: #5f5d4b;
            &:hover{color: #e96359;}
        }
    }

}


